<h2>Ставки</h2>

@Html.Partial("FirebaseScripts")

<script type="text/javascript">
</script>

<div id="divBets">
    <div class="row show-grid">
        <div class="col-md-4" id="driver1">
            <div class="row">
                <h3>Name1</h3>
                <button type="button" class="btn btn-primary">Bet</button>
            </div>
        </div>
        <div class="col-md-4" id="map">
            <div class="row">
                <h3>Карта</h3>

            </div>
        </div>
        <div class="col-md-4" id="driver2">
            <div class="row">
                <h3>Name2</h3>
                <button type="button" class="btn btn-primary">Bet</button>
            </div>
        </div>
    </div>
</div>