@model string

<h2 id="TitleH">Заезд</h2>
<table style="padding-top:10px;">

    <tr>
        <td style="width:50%; vertical-align:top;">
            <div style="text-align:center;">
                <div><b>Гонщик 1</b></div>
                <div><h5 id="DriverName1"></h5></div>
                <div id="Photo1"><img src="https://avt-7.foto.mail.ru/mail/govoradlo1953/_avatar180?"/></div>
                <div id="SetRate1"><input type="button" value="Поставить 100 поинтов" class="btn" onClick="SetBet100(0);"></div>
            </div>
        </td>
        <td>
            <div id="ActiveRaceMap" style="width: 640px; height: 480px;"></div>
            <h3 id="Rate1" style="font-size:large; text-align:center;"></h3>
        </td>
        <td style="width:50%; vertical-align:top;">
            <div style="text-align:center;">
                <div><b>Гонщик 2</b></div>
                <div><h5 id="DriverName2"></h5></div>
                <div id="Photo2"><img src="https://avt-7.foto.mail.ru/mail/govoradlo1953/_avatar180?" /></div>
                <div id="SetRate2"><input type="button" value="Поставить 100 поинтов" class="btn" onClick="SetBet100(1);"></div>
            </div>
        </td>
    </tr>

</table>


<script>

    var points;
    var bet1 = 0;
    var bet2 = 0;

    function SetBet100(driver)
    {
        points = points - 100;
        if (driver == 0)
        {
            bet1 = bet1 + 100;
        }
        if (driver == 1) {
            bet2 = bet2 + 100;
        }

        GetRate();

        var userRef = firebase.database().ref(fbMainUser + "/" + getCookie('LolaRenntKey'));
        userRef.once("value", function (snapshot) {

            var user = snapshot.val();
            user.Points = user.Points - 100;

            var updates = {};
            updates[snapshot.key] = user;

            firebase.database().ref(fbMainUser).update(updates)
        });

        var roomRef = firebase.database().ref(fbMainRoom + "/@Model");
        roomRef.once("value", function (snapshot) {

            var room = snapshot.val();
            if (!room.Bets) {
                room.Bets = [];
            }
            var bet = { UserId: getCookie('LolaRenntKey'), Amount: 100, Driver: driver };
            room.Bets.push(bet);

            var updates = {};
            updates[snapshot.key] = room;

            firebase.database().ref(fbMainRoom).update(updates)
        });

        if (points < 100) {
            $('#SetRate1').hide();
            $('#SetRate2').hide();
        }
    }

    function LoadUserData()
    {
        var userRef = firebase.database().ref(fbMainUser + "/" + getCookie('LolaRenntKey'));

        userRef.once("value", function (snapshot) {
            var user = snapshot.val();
            points = user.Points;
            
        });
    }

    $(document).ready(function () {
        LoadUserData();
    });

    function FindMinMax(item, min, max) {
        if (min.X == 0 || item.X < min.X) {
            min.X = item.X;
        }
        if (max.X == 0 || item.X > max.X) {
            max.X = item.X;
        }
        if (min.Y == 0 || item.Y < min.Y) {
            min.Y = item.Y;
        }
        if (max.Y == 0 || item.Y > max.Y) {
            max.Y = item.Y;
        }
    }

    function GetRate()
    {
        var v1;
        var v2;

        if (bet1 == bet2) {
            v1 = 1;
            v2 = 1;
        }
        else {
            if (bet1 <= bet2) {
                v1 = 1;
                if (bet1 == 0) {
                    v2 = bet2 / 1;
                }
                else {
                    v2 = bet2 / bet1;
                }
            }
            else {
                v2 = 1;
                if (bet2 == 0) {
                    v1 = bet1 / 1;
                }
                else {
                    v1 = bet1 / bet2;
                }
            }
        }

        $('#Rate1').html(v1.toFixed(2) + ' : ' + v2.toFixed(2));
        
    }

    function initMap() {

        var roomRef = firebase.database().ref(fbMainRoom + "/@Model");

        roomRef.once("value", function (snapshot) {

            var room = snapshot.val();

            $('#TitleH').html('Заезд ' + room.Name);
            $('#DriverName1').html(room.Driver1.Name);
            $('#DriverName2').html(room.Driver1.Name);

            var bets = room.Bets;

            if (bets) {
                bets.forEach(function (item, i, arr) {
                    if (item.Driver == 0) {
                        if (item.Amount) {
                            bet1 = bet1 + item.Amount;
                        }
                    }
                    if (item.Driver == 1) {
                        if (item.Amount) {
                            bet2 = bet2 + item.Amount;
                        }
                    }
                });
            }

            GetRate();

            var start = room.Start;
            var finish = room.Finish;

            var min = { X: 0, Y: 0 };
            var max = { X: 0, Y: 0 };

            FindMinMax(start, min, max)
            FindMinMax(finish, min, max);

            var centerX = (max.X + min.X) / 2;
            var centerY = (max.Y + min.Y) / 2;

            map = new google.maps.Map(document.getElementById('ActiveRaceMap'), {
                center: { lat: centerX, lng: centerY },
                zoom: 256
            });

            map.fitBounds(new google.maps.LatLngBounds(new google.maps.LatLng(min.X, min.Y), new google.maps.LatLng(max.X, max.Y)));

            var pointStart = new google.maps.LatLng(start.X, start.Y);
            var markerStart = new google.maps.Marker({
                position: pointStart,
                label: "S"
            });
            markerStart.setMap(map);

            var pointFinish = new google.maps.LatLng(finish.X, finish.Y);
            var markerFinish = new google.maps.Marker({
                position: pointFinish,
                label: "F"
            });
            markerFinish.setMap(map);

            google.maps.event.trigger(map, 'resize');
        });

    }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCyB8vHmUniK44AyaY0Gmvq3IH238J64G8&callback=initMap" async defer></script>