@using LolaRenntServer;
@model List<Room>
<h2>Ставки</h2>

@Html.Partial("FirebaseScripts")

<script type="text/javascript">

    $(document).ready(function () {

        var rootRef = firebase.database().ref();
        var roomRef = rootRef.child(fbMainRoom).orderByChild("Status").equalTo(1);
        
        roomRef.once("value", function (snapshot) {
            snapshot.forEach(function (child) {
                var room = child.val();
                var roomKey = child.key;
                var roomName = room.Name;
                var roomDriver1 = room.Driver1.Name;
                var roomDriver2 = room.Driver2.Name;
                $('#tableRooms')
                    .append('<tr><td><a href="@Url.Action("Room", "Home")?roomKey='
                    + roomKey + '">' + roomName +'</a></td><td>'
                    + roomDriver1 + '</td><td>'
                    + roomDriver2 + '</td></tr>');
            });
        });

    });

</script>

<div id="divRooms">
    <div class="row">
        <div class="col">
            <div class="row">
                <table class="table table-striped" style="margin-top:10px" id="tableRooms">
                    <tr>
                        <th>Комната</th>
                        <th>Первый водитель</th>
                        <th>Второй водитель</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>