@using LolaRenntServer;
@model List<Room>

@Html.Partial("FirebaseScripts")

<script type="text/javascript">

    $(document).ready(function () {
        AppendInfo(1);
        AppendInfo(2);
        AppendInfo(3);
        AppendInfo(4);
    });

    function AppendInfo(status) {
        var rootRef = firebase.database().ref();
        roomRef = rootRef.child(fbMainRoom).orderByChild("Status").equalTo(status);

        roomRef.once("value", function (snapshot) {
            snapshot.forEach(function (child) {
                var room = child.val();
                var roomKey = child.key;
                var roomName = room.Name;
                var roomDriver1 = room.Driver1.Name;
                var roomDriver2 = room.Driver2.Name;
                $('#tableRooms' + status)
                    .append('<tr><td><a href="@Url.Action("Room", "Home")?roomKey='
                    + roomKey + '">' + roomName +'</a></td><td>'
                    + roomDriver1 + '</td><td>'
                    + roomDriver2 + '</td></tr>');
            });
        });
    }
</script>

<div id="divRooms">
    <div class="row">
        <div class="col">
            <div class="row">
                <h3>Ожидающие старта</h3>
                <table class="table table-striped" style="margin-top:10px" id="tableRooms1">
                    <tr>
                        <th>Комната</th>
                        <th>Первый водитель</th>
                        <th>Второй водитель</th>
                    </tr>
                </table>
            </div>
            <div class="row" style="margin-top:10px">
                <h3>Гонка началась</h3>
                <table class="table table-striped" style="margin-top:10px" id="tableRooms2">
                    <tr>
                        <th>Комната</th>
                        <th>Первый водитель</th>
                        <th>Второй водитель</th>
                    </tr>
                </table>
            </div>
            <div class="row" style="margin-top:10px">
                <h3>Гонка закончилась</h3>
                <table class="table table-striped" style="margin-top:10px" id="tableRooms3">
                    <tr>
                        <th>Комната</th>
                        <th>Первый водитель</th>
                        <th>Второй водитель</th>
                    </tr>
                </table>
            </div>
            <div class="row" style="margin-top:10px">
                <h3>Гонка отменена</h3>
                <table class="table table-striped" style="margin-top:10px" id="tableRooms4">
                    <tr>
                        <th>Комната</th>
                        <th>Первый водитель</th>
                        <th>Второй водитель</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>